nav{
    display: flex;
    justify-content: space-between;
}

li{
    display: inline;
    margin-inline: 5px;

}
#section1{
    text-align: center;
    margin-inline: 100px;
    margin-top: 40px;
}

.makingHealth{
    font-size: 35px;
    font-weight: lighter;
    color: #53B49B;
}
.paragraphBlock{
    display: flex;
    justify-content: space-between;
    text-align: left;
        
}

.service-card{
    background-color: #53B49B;
    font-size: 24px; 
    color: aliceblue;
    width: 28%;
    margin: 5px;
    padding: 15px;
    
}

.for-patient{
    background-color: 3d83df;
    border-radius: 8px;
    font-size: 24px;
    width: 24%;
    

}
.bg-card2 {
    background-color: #3d83df;
    font-size: 24px; 
    
}

.bg-card3 {
    background-color: #313c48; 

}
.bloc1 {
    display: flex;
}
.service {
    margin-inline: 150px;
}

h1 {
    float: none;
    padding: 0%;
    text-align: center;
    width: 100%;
}

.h1 {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
}

h1 {
    color: #53B49B;
}
h1 {
    float: left;
    justify-content: center;
    width: 100%;
}

.bloc2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
